html, body {
  margin: 0;
  background-color: #A8D4AD;
  /* color: white; */
}

#title {
  font-size: 4rem;
}

.jumbotron {
  background-color: #92B9BD;
  color: white;
  /* padding: 20px; */
  text-align: center;
}

.lorem-ipsum {
  font-style: italic;
  font-family: 'IM Fell English', serif;
}

.text {
  margin-bottom: 3rem;
}

.section-title {
  margin: 0.7rem 0 0.7rem 0;
}

/* .card-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
} */